XTerm*utf8	: 1
XTerm*locale	:true
Xterm*selectToClipboard	: true
XTerm*faceName	: Liberation Mono
XTerm*faceNameDoublesize	: TakaoGothic
XTerm*faceSize	: 12
XTerm*saveLines	: 1000
XTerm*background	: black
XTerm*foreground	: white
XTerm*scrollBar	: true

Rxvt.font  : xft:Liberation Mono:size=12:antialias=true
Rxvt.background : black
Rxvt.foreground : white
Rxvt.scrollBar  : false
Rxvt.saveLines  : 1000
